.footer {
    position: absolute;
    bottom: 0;
    height: 4.1em;
    width: 100%;
}

.footer > p {
    line-height: 3.4em;
    text-align: center;
    color: #cad400;
}

.page-title {
    text-align: center;
}

.fipe-selects {
    display: flex;
    width: 100%;
}

.fipe-selects > .atributo { 
    width: 25%;
    margin: 10px;
    display: none;
}

.fipe-selects > .atributo.active {
    display: block;
}

.fipe-selects > .control-label {
    margin-top: 17px;
}

.articles {
    display: flex;
}

.blog-article {
    height: 200px;
    border-radius: 20px;
    display: table;    
    margin: 10px;
    padding: 20px;
    background-color: #3d5874;
    color: #cad400;
    transition: transform .2s;
}

.blog-article.main {
    height: 120px;
}

.blog-article:hover {
    color: #003569;
    background-color: #cad400;
}

.blog-article.zoom-in:hover {
    transform: scale(1.1); 
    z-index: 2;
}

.blog-article > p {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

.fipe-table {
    width: calc(100% - 40px);
    margin: 20px;
    display: none;
}
.fipe-table.active {
    display: table;
}

.loading-text {
    text-align: center;
    font-weight: bold;
}
