<h3 class="page-title">Consulta de Valores FIPE</h3>
<div ng-controller="fipeCtrl">
    <div class=fipe-selects>
        <div class="atributo tipo active">
            <label class="control-label" for="tipoSelect">Tipos</label>
            <select name="tipoSelect" class="form-control custom-fipe-select" ng-model="tipoSelecionado" ng-click="tipoClique($event)" ng-change="getMarcas()">
                <option value="{{tipo.codigo}}" ng-repeat="tipo in tipos | orderBy: 'nome'">{{tipo.nome}}</option>
            </select><br>
        </div>
        <div class="atributo marca" ng-class="{'active' : tipoSelecionado}">
            <label class="control-label" for="marcaSelect">Marcas</label>
            <select name="marcaSelect" class="form-control custom-fipe-select" ng-model="marcaSelecionada" ng-click="atributosClique($event)" ng-change="getModelos()">
                <option value="{{marca.codigo}}" ng-repeat="marca in marcas | orderBy: 'nome'">{{marca.nome}}</option>
            </select><br>
        </div>
        <div class="atributo modelo" ng-class="{'active' : marcaSelecionada}">
            <label class="control-label" for="modeloSelect">Modelos</label>
            <select name="modeloSelect" class="form-control custom-fipe-select" ng-model="modeloSelecionado" ng-click="atributosClique($event)" ng-change="getVersoes()">
                <option value="{{modelo.codigo}}" ng-repeat="modelo in modelos | orderBy: 'nome'">{{modelo.nome}}</option>
            </select><br>
        </div>
        <div class="atributo versao" ng-class="{'active' : modeloSelecionado}">
            <label class="control-label" for="versaoSelect">Versões</label>
            <select name="versaoSelect" class="form-control custom-fipe-select" ng-model="versaoSelecionada" ng-click="atributosClique($event)" ng-change="getInformacoesVersao()">
                <option value="{{versao.codigo}}" ng-repeat="versao in versoes | orderBy: 'nome'">{{versao.nome}}</option>
            </select><br>
        </div>
    </div>
    <br>
    <table class="table fipe-table" ng-class="{'active' : infosVersaoSelecionada}">
        <thead>
            <td>Referência</td>
            <td>Código FIPE</td>
            <td>Combustível</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Ano Modelo</td>
            <td>Preço</td>
        </thead>
        <tbody>
            <tr>
                <td>{{infosVersaoSelecionada.MesReferencia}}</td>
                <td>{{infosVersaoSelecionada.CodigoFipe}}</td>
                <td>{{infosVersaoSelecionada.Combustivel}}</td>
                <td>{{infosVersaoSelecionada.Marca}}</td>
                <td>{{infosVersaoSelecionada.Modelo}}</td>
                <td>{{infosVersaoSelecionada.AnoModelo}}</td>
                <td>{{infosVersaoSelecionada.Valor}}</td>
            </tr>
        </tbody>
    </table>

    <div ng-include="'../templates/loading.html'" ng-if="loading" class="ng-scope"></div>

</div>